.nav {
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.15);
}
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: end;
  }

.nav .logo-nav {
    color: #fff;
    font-weight: 700;
}
.nav .logo-nav:hover {
    color: #fff;
}
.span-logo {
    color: crimson;
    font-weight: 900;
}
.nav-item .nav-link {
    color: #fff;
    text-transform: uppercase;
}
.nav-item .nav-link:hover {
    color: #fff;
}

